# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.env

# ==============================
# IDE
# ==============================
.idea/
.vscode/

# ==============================
# Data Handling
# ==============================

# Ignore raw data (large / unnecessary)
data/raw/

# Allow processed dataset (needed for app)
!data/processed/
!data/processed/*.csv

# ==============================
# Models
# ==============================

# Ignore all models by default
*.pkl

# BUT allow the main trained model (required for app)
!models/
!models/tube_disruption_model.pkl

# ==============================
# Logs (optional)
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db